.login__body {
    background-image: linear-gradient( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5) ), url("./macbook-beats-headphones.jpg");
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

.login__btn {
    text-align: center;
}

.login__container::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.login__container {
    margin-top: 8%;
    margin-left: 100px;
}

.login__card {
    display: inline-block;
    vertical-align: middle;
}

.outer::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  .inner {
    display: inline-block;
    vertical-align: middle;
  }
  
  .btns {
    background-color: #273340;
    border-color: #5e5e5f;
    color: #fff;
    min-width: 100px;
  }